rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /settings/{docId} {
      allow read, write: if true;
    }
    match /metadata/{docId} {
      allow read, write: if true;
    }
    match /categories/{docId} {
      allow read, write: if true;
    }
    match /plants/{docId} {
      allow read, write: if true;
    }
    match /services/{docId} {
      allow read, write: if true;
    }
    match /projects/{docId} {
      allow read, write: if true;
    }
    match /gallery/{docId} {
      allow read, write: if true;
    }
    match /testimonials/{docId} {
      allow read, write: if true;
    }
    match /inquiries/{docId} {
      allow read, write: if true;
    }
  }
}
